<div class="d-flex justify-content-between p-2">
  <input type="search" id="busca" aria-label="Search" class="form-control mr-sm-2 col-4" placeholder="Buscar por Nombre"
    name="searchItem" (input)="search()" [(ngModel)]="searchItem">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [pageSize] = 'pageSize'
      [(page)]="page"
      [boundaryLinks]="true"
      (pageChange)="onPageChange($event)"
    >
      <ng-template ngbPaginationPages let-page let-pages="pages" class="mb-0">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="form-group d-flex flex-nowrap px-2">
                <label
                    id="paginationInputLabel"
                    for="paginationInput"
                    class="col-form-label mr-2 ml-1 bg-white"
                >Pág.</label>
                <input #i
                    type="text"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    class="form-control custom-pages-input"
                    id="paginationInput"
                    [value]="page"
                    (keyup.enter)="selectPage(i.value)"
                    (blur)="selectPage(i.value)"
                    (input)="formatInput($any($event).target)"
                    aria-labelledby="paginationInputLabel paginationDescription"
                    style="width: 3.5rem"
                />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2 bg-white">
                    de {{pages.length}}</span>
              </div>
          </li>
      </ng-template>
    </ngb-pagination>
    <input
    #j
    type="text"
    inputmode="numeric"
    pattern="[0-9]"
    class="form-control custom-pages-input ml-2"
    [value]="pageSize"
    (keyup.enter)="setPageSize(j.value)"
    (blur)="setPageSize(j.value)"
    (input)="formatInput($any($event).target)"
    style="width: 3.5rem"
  />
  <div class="col-sm-2 col-lg-4">
    <button *ngIf="tools.new.display" class="btn btn-outline-primary ml-1 float-right" (click)="event('newReg')">
      <i class="fas fa-plus-square"></i>
    </button>
    <button *ngIf="tools.print.display" class="btn btn-outline-primary ml-1 float-right" (click)="event('print')">
      <i class="fas fa-file-invoice"></i>
      <!--i class="fas fa-print"></i-->
    </button>
  </div>
</div>
