<p>A provesar: {{max}}</p>
<p>Procesados: {{value}}</p>
<p>Nuevos: {{nuevos}}</p>
<p>Existentes: {{saved}}</p>
<p>Errores: {{errores}}</p>
<table>
  <tr *ngFor="let item of contadoresLabel;index as i">
    <td>
      {{contadoresLabel[i]}}
    </td>
    <td>
      {{contadoresValue[i]}}
    </td>
  </tr>
</table>
<p><ngb-progressbar type="success" [value]="value" [max]="max"></ngb-progressbar></p>
<button *ngIf="value!==max" (click)="cancel('cancel')">Cancel</button>
<button *ngIf="value===max" (click)="close('todos')">Mostrar Todos</button>
<button *ngIf="value===max" (click)="close('nuevos')">Mostrar Nuevos</button>
<button *ngIf="value===max" (click)="close('error')">Mostrar Errores</button>
