notas.txt
.nyc_output/
coverage/
node_modules/
npm-debug.log
package-lock.json
test/*.log
backend/node_modules/
backend/dist/
dist/
front/node_modules/
frontend/dist/
website/node_modules
website/dist
