notas.txt
.nyc_output/
coverage/
node_modules/
npm-debug.log
package-lock.json
test/*.log
backen*/node_modules/
backen*/dist/
dist/
front*/node_modules/
frontend/dist/
frontend/assets/images/
website/node_modules/
website/dist/
website/assets/images/

website/src/assets/images/defuser.png
website/src/assets/images/pacha-cachorro_thumbs.jpg
website/src/assets/images/PachaGatoCocktail.jpg
website/src/assets/images/PachaGatoPescado.jpg
website/src/assets/images/DogChow/Adultos medianos y grandes_0.png
website/src/assets/images/DogChow/Adultos medianos y grandes_1.png
website/src/assets/images/DogChow/Adultos Minis y Pequeños.png
website/src/assets/images/DogChow/adultos-minis-y-pequenos-pavo (1).jpg
website/src/assets/images/DogChow/adultos-minis-y-pequenos-pavo.jpg
website/src/assets/images/DogChow/Adultos-Minis-y-Pequeños.jpg
website/src/assets/images/DogChow/Cachorros medianos y garndes_0.png
website/src/assets/images/DogChow/Cachorros medianos y garndes_1.png
website/src/assets/images/DogChow/Cachorros minis y pequeños.png
website/src/assets/images/DogChow/dog-chow-adultos-pavo.jpg
website/src/assets/images/DogChow/dog-chow-adultos-salmon (1).jpg
website/src/assets/images/DogChow/dog-chow-adultos-salmon.jpg
website/src/assets/images/DogChow/dog-chow-adultos-todos-los-tamaños-pollo.jpg
website/src/assets/images/DogChow/dog-chow-cachorros-pollo-todos-los-tamaños.jpg
website/src/assets/images/DogChow/dog-chow-control-de-peso.jpg
website/src/assets/images/DogChow/dog-chow-longevidad.jpg
website/src/assets/images/DogChow/Purina-Dog-Chow-Adultos-Medianos-y-grandes-sin-colorantes-(1).jpg
website/src/assets/images/DogChow/Purina-Dog-Chow-Adultos-Medianos-y-grandes-sin-colorantes-(2) (1).png
website/src/assets/images/DogChow/Purina-Dog-Chow-Adultos-Minis-y-pequeños-sin-colorantes.jpg
website/src/assets/images/DogChow/purina-dog-chow-cachorros-minis-y-pequeños.jpg
website/src/assets/images/DogChow/Purina-Dog-Chow-Cachorros-sin-colorantes-(2).jpg
website/src/assets/images/DogChow/purina-dogchow-adultos-minis-y-pequeños-con-pollo (1).jpg
website/src/assets/images/DogChow/purina-dogchow-adultos-minis-y-pequeños-con-pollo.jpg
website/src/assets/images/Excellent/Excelent-adulto-razas-medianas-y-grandes.jpg
website/src/assets/images/Excellent/Excelent-adulto-razas-pequeñas (1).jpg
website/src/assets/images/Excellent/Excelent-cachorros.jpg
website/src/assets/images/Excellent/excelent-development.jpg
website/src/assets/images/Excellent/Excelent-gatos-adultos.jpg
website/src/assets/images/Excellent/Excelent-gatos-reduced-calorie.jpg
website/src/assets/images/Excellent/Excelent-gatos-urinary.jpg
website/src/assets/images/Excellent/excelent-kitten.jpg
website/src/assets/images/Excellent/Excelent-reduced-calorie.jpg
website/src/assets/images/Excellent/Excelent-senior.jpg
website/src/assets/images/Excellent/Excelent-skin-care.jpg
website/src/assets/images/Excellent/Excellent-maintenance.jpg
website/src/assets/images/Excellent/Purina® Excellent® Adult Chicken and Rice Razas Medianas y Grandes.png
website/src/assets/images/Excellent/Purina® Excellent® Adult Chicken and Rice.png
website/src/assets/images/Excellent/Purina® Excellent® adult skin care.png
website/src/assets/images/Excellent/Purina® Excellent® Development Cachorro.png
website/src/assets/images/Excellent/Purina® Excellent® Kitten Chicken and Rice.png
website/src/assets/images/Excellent/Purina® Excellent® Maintenance Adulto.png
website/src/assets/images/Excellent/Purina® Excellent® Puppy Chicken and Rice Razas Medianas y Grandes.png
website/src/assets/images/Excellent/Purina® Excellent® Reduced Calorie Chicken and Rice Todos los Tamaños.png
website/src/assets/images/Excellent/Purina® Excellent® Reduced Calorie Chicken and Rice.png
website/src/assets/images/Excellent/Purina® Excellent® Senior Chicken and Rice Todos los Tamaños.png
website/src/assets/images/Excellent/PurinaExcellentUrinaryChickenandRice.png
website/src/assets/images/alican/7vidas/7Vidas_Web2.png
website/src/assets/images/alican/7vidas/7Vidas_Web3.png
website/src/assets/images/alican/7vidas/7Vidas_Wet_Carne.png
website/src/assets/images/alican/7vidas/7Vidas_Wet_Merluza.png
website/src/assets/images/alican/7vidas/7Vidas_Wet_Sardina.png
website/src/assets/images/alican/agility/Agility-Cat-Carne.png
website/src/assets/images/alican/agility/Agility-Cat-Higado.png
website/src/assets/images/alican/agility/Agility-Cat-Merluza.png
website/src/assets/images/alican/agility/Agility-Cat-Pollo.png
website/src/assets/images/alican/agility/Agility-Cat-Sardina.png
website/src/assets/images/alican/agility/AgilityGatosWeb3-1.png
website/src/assets/images/alican/agility/AgilityGatosWet-Carne.png
website/src/assets/images/alican/agility/AgilityGatosWet-Gatitos-Natural.png
website/src/assets/images/alican/agility/AgilityGatosWet-Higado.png
website/src/assets/images/alican/agility/AgilityGatosWet-Merluza.png
website/src/assets/images/alican/agility/AgilityGatosWet-Pollo.png
website/src/assets/images/alican/agility/AgilityGatosWet-Sardina.png
website/src/assets/images/alican/agility/AgilityPerros.png
website/src/assets/images/alican/agility/AgilityPerrosWet-Cachorro-CarneVacuna.png
website/src/assets/images/alican/agility/AgilityPerrosWet-CarneVacuna.png
website/src/assets/images/alican/agility/AgilityPerrosWet-Cerdo.png
website/src/assets/images/alican/agility/AgilityPerrosWet-Pollo.png
website/src/assets/images/alican/agility/Web3-1.png
website/src/assets/images/alican/gooster/gooser.png
website/src/assets/images/alican/gooster/Gooster-Adultos.png
website/src/assets/images/alican/gooster/Gooster-Cach.png
website/src/assets/images/alican/gooster/Gooster-MordPeq.png
website/src/assets/images/alican/gooster/GoosterWet_CACH-300x300.png
website/src/assets/images/alican/gooster/GoosterWet_Pollo-300x300.png
website/src/assets/images/alican/gooster/GoosterWet-300x300.png
website/src/assets/images/baires/01071228_BAIRESWaffenCriadoresSuperPremiumAdultos.png
website/src/assets/images/baires/02051757_BairesCaudillo.jpg
website/src/assets/images/baires/02061638_WaffenCriadoresSuperPremiumCachorros.png
website/src/assets/images/baires/02171655_RendersCerdoAdultos.png
website/src/assets/images/baires/02171708_RendersCorderoadultos.png
website/src/assets/images/baires/02171720_RendersCorderoPequeos.png
website/src/assets/images/baires/02171743_RendersCorderoCachorros.png
website/src/assets/images/baires/10252016_BairesOldPrincePacks01.png
website/src/assets/images/baires/11011622_BairesOldPrincePacks02.png
website/src/assets/images/baires/11011625_BairesOldPrincePacks03.png
website/src/assets/images/baires/11011626_BairesOldPrincePacks04.png
website/src/assets/images/baires/11011630_BairesOldPrincePacks05.png
website/src/assets/images/baires/11051347_BairesNaturalMeatPacks01.png
website/src/assets/images/baires/11051349_BairesNaturalMeatPacks02.png
website/src/assets/images/baires/11051359_BairesMaintenance-CriadoresPack01.png
website/src/assets/images/baires/11051402_BairesMaintenance-CriadoresPack02.png
website/src/assets/images/baires/11051417_BairesVorazPacks01Perros.png
website/src/assets/images/baires/11051420_BairesVorazPacks02Perros.png
website/src/assets/images/baires/11051422_BairesVorazPacks04Perros.png
website/src/assets/images/baires/11141250_Company01.png
website/src/assets/images/baires/11141250_Company02.png
website/src/assets/images/baires/11231343_WaffenCriadoresSuperPremiumCachorros1.png
website/src/assets/images/baires/12031621_BAIRESOld-PrinceWeightControlPack.png
website/src/assets/images/baires/12051434_BAIRESKongoGoldAdultos-MordidaPequeniaPack.png
website/src/assets/images/baires/12051434_BAIRESKongoGoldPuppiesPack.png
website/src/assets/images/baires/12051435_BAIRESKongoGoldAdultosPack.png
website/src/assets/images/baires/12151818_BAIRESKongoEdadAvanzada.jpg
website/src/assets/images/baires/12151819_BAIRESKongoAdultosPequenios.jpg
website/src/assets/images/baires/12151819_BAIRESKongoCachorros.jpg
website/src/assets/images/baires/12151819_BAIRESKongoMedianosyGrandes.jpg
website/src/assets/images/baires/12151844_BairesVorazPacks03PerrosPolloyArroz.png
website/src/assets/images/baires/12181753_BAIRESPackCereales.png
website/src/assets/images/baires/12181755_BAIRESPackDr-RomeroAdultos.png
website/src/assets/images/baires/12181757_BAIRESPackDr-RomeroCachorros.png
website/src/assets/images/baires/12201321_BAIRESPackCarnix.png
website/src/assets/images/baires/12271201_BAIRESHighPro.jpg
website/src/assets/images/baires/12281234_BAIRESPackMaxVon.png
website/src/assets/images/baires/origen-render.png
website/src/assets/images/biopet/biopet-CACHORRO-280.jpg
website/src/assets/images/biopet/biopet-GATO-280.jpg
website/src/assets/images/biopet/biopet-RAZAPEQ-280.jpg
website/src/assets/images/biopet/bolsa-perro-adulto-1-1.jpg
website/src/assets/images/bravecto/bravecto.png
website/src/assets/images/catchow/ADULTO-CARNE.png
website/src/assets/images/catchow/ADULTO-PESCADO.png
website/src/assets/images/catchow/cat-chow-adult-pollo-wet.png
website/src/assets/images/catchow/cat-chow-gatitos-pescado-carne-leche.png
website/src/assets/images/catchow/cat-chow-gatos-adulto-carne.png
website/src/assets/images/catchow/cat-chow-gatos-adulto-pescado.png
website/src/assets/images/catchow/cat-chow-gatos-adultos-pescado-wet.png
website/src/assets/images/catchow/cat-chow-gatos-delimix-salmon-carne-pollo.png
website/src/assets/images/catchow/cat-chow-gatos-esterilizados-pescado-wet.png
website/src/assets/images/catchow/cat-chow-gatos-esterilizados-pescado.png
website/src/assets/images/catchow/cat-chow-gatos-gatitos-pollo-wet.png
website/src/assets/images/catchow/cat-chow-gatos-hogareños-carne.png
website/src/assets/images/catchow/DELIMIX.png
website/src/assets/images/catchow/ESTERILIZADO.png
website/src/assets/images/catchow/GATITOS.png
website/src/assets/images/catchow/HOGAREÑOS.png
website/src/assets/images/catchow/purina-catchow-defense-hydro.jpg
website/src/assets/images/catpro/adultos-transparente.png
website/src/assets/images/catpro/catpro-humedos-5 (1).jpg
website/src/assets/images/catpro/catpro-humedos-5.jpg
website/src/assets/images/catpro/catpro-humedos-carne.jpg
website/src/assets/images/catpro/catpro-humedos-pescado.jpg
website/src/assets/images/catpro/catpro-packs-1.jpg
website/src/assets/images/catpro/kitten-transparente.png
website/src/assets/images/catpro/logo-1 (1).png
website/src/assets/images/catpro/logo-1.png
website/src/assets/images/dogpro/dogpro-senior-pack.png
website/src/assets/images/dogpro/reduced-calories-dogpro.png
website/src/assets/images/petfoodsaladillo/cat-selection-1-2-350x350.png
website/src/assets/images/petfoodsaladillo/criadores-adultos-carne-y-pollo-1-350x350.png
website/src/assets/images/petfoodsaladillo/criadores-adultos-carne-y-vegetales-1-350x350.png
website/src/assets/images/petfoodsaladillo/criadores-cachorros-2-350x350.png
website/src/assets/images/petfoodsaladillo/criadores-razas-peque-350x350.png
website/src/assets/images/petfoodsaladillo/etiqueta-negra-cachorros-2-350x350 (1).png
website/src/assets/images/petfoodsaladillo/etiqueta-negra-cachorros-2-350x350.png
website/src/assets/images/petfoodsaladillo/etiqueta-negra-razas-medianas-y-grandes-1-350x350.png
website/src/assets/images/petfoodsaladillo/etiqueta-negra-razas-peque-350x350.png
website/src/assets/images/petfoodsaladillo/etiqueta-negra-razas-peque.png
website/src/assets/images/petfoodsaladillo/premium-adultos-2-350x350.png
website/src/assets/images/petfoodsaladillo/premium-cachorros-2-350x350.png
website/src/assets/images/purina/doguiCarneAsada.png
website/src/assets/images/purina/doguiPolloGrillado.jpg
website/src/assets/images/purina/DoguiPolloGrillado138.jpg
website/src/assets/images/purina/gati_pollo.png
website/src/assets/images/purina/Purina-Dogui-Recetas-Caceras-Pollo.jpg
website/src/assets/images/vitalcan/Vital-Cat-V-56-Kitten-Gatito-500.png
frontend/src/assets/images/D_NQ_NP_679158-MLA45595619843_042021-O.webp
frontend/src/assets/images/PachaGatoAdultoCoctail.jpg
frontend/src/assets/images/PachaGatoPescado.jpg
frontend/src/assets/images/DogChow/purina-dog-chow-salud-oral-adultos-medianos-y-grandes.jpg
frontend/src/assets/images/DogChow/purina-dog-chow-salud-oral-adultos-minis-y-pequenos.jpg
frontend/src/assets/images/desesplast/1062_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/1063_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/1064_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/1074-BATEA-SANIT-200x200.jpg
frontend/src/assets/images/desesplast/1096_1-min-200x200.jpg
frontend/src/assets/images/desesplast/2102_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/2103_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/2187_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/2188-FRESBEE-MASC2-CAT_vista1-200x200.jpg
frontend/src/assets/images/desesplast/8001_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8002_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8003_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8004_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8005_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8005_foto_1-560x560.jpg
frontend/src/assets/images/desesplast/8006_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8007_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8008_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8009_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8010_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8011_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8012_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8013_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8014_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8015_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8016_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8017_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8018_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8019_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8024_platomascota_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8025_platomascota_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8026_platomascota_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8027_platomascota_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8029_comederocuadradoch_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8030_comederocuadradomed_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8031_comederocuadradogrande_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8032_comederoorejadegato_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/8033-vista1-200x200.jpg
frontend/src/assets/images/desesplast/8034_2-min-200x200.jpg
frontend/src/assets/images/desesplast/8035_vista1-200x200.jpg
frontend/src/assets/images/desesplast/8036_vista1-200x200.jpg
frontend/src/assets/images/desesplast/8037_vista1-200x200.jpg
frontend/src/assets/images/desesplast/8038_vista3-200x200.jpg
frontend/src/assets/images/desesplast/8039-ComederoMD_vista1-200x200.jpg
frontend/src/assets/images/desesplast/8040-ComederoGR_vista1-200x200.jpg
frontend/src/assets/images/desesplast/9000_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/9001_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/9002-HuesoGrande_vista1-200x200.jpg
frontend/src/assets/images/desesplast/9003_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/9004_foto_1-200x200.jpg
frontend/src/assets/images/desesplast/9005_foto_1-200x200.jpg
frontend/src/assets/images/dogpro/dogpro-packs-e1595841801932.png
frontend/src/assets/images/osspret/osspret-shampoo-varios.jpg
backend.02.44/data/db/_mdb_catalog.wt
backend.02.44/data/db/collection-0--2864530148435162574.wt
backend.02.44/data/db/collection-0-292877868370492119.wt
backend.02.44/data/db/collection-0-972712469565145320.wt
backend.02.44/data/db/collection-0-8020213374910424618.wt
backend.02.44/data/db/collection-2--2864530148435162574.wt
backend.02.44/data/db/collection-2-8020213374910424618.wt
backend.02.44/data/db/collection-4--2864530148435162574.wt
backend.02.44/data/db/collection-4-972712469565145320.wt
backend.02.44/data/db/collection-4-8020213374910424618.wt
backend.02.44/data/db/collection-5-972712469565145320.wt
backend.02.44/data/db/collection-6--2864530148435162574.wt
backend.02.44/data/db/collection-6-8020213374910424618.wt
backend.02.44/data/db/collection-9-972712469565145320.wt
backend.02.44/data/db/collection-10--2871015368597784693.wt
backend.02.44/data/db/collection-10-8020213374910424618.wt
backend.02.44/data/db/collection-12--3427529013982088978.wt
backend.02.44/data/db/collection-12-8020213374910424618.wt
backend.02.44/data/db/collection-14-8020213374910424618.wt
backend.02.44/data/db/collection-24-252033026885601114.wt
backend.02.44/data/db/collection-35-252033026885601114.wt
backend.02.44/data/db/collection-41-252033026885601114.wt
backend.02.44/data/db/collection-46-252033026885601114.wt
backend.02.44/data/db/index-0-2144743975445514560.wt
backend.02.44/data/db/index-1--2864530148435162574.wt
backend.02.44/data/db/index-1-292877868370492119.wt
backend.02.44/data/db/index-1-8020213374910424618.wt
backend.02.44/data/db/index-3--2864530148435162574.wt
backend.02.44/data/db/index-3-8020213374910424618.wt
backend.02.44/data/db/index-5--2864530148435162574.wt
backend.02.44/data/db/index-5-8020213374910424618.wt
backend.02.44/data/db/index-7--2864530148435162574.wt
backend.02.44/data/db/index-7-8020213374910424618.wt
backend.02.44/data/db/index-8--2864530148435162574.wt
backend.02.44/data/db/index-8-8020213374910424618.wt
backend.02.44/data/db/index-9--2864530148435162574.wt
backend.02.44/data/db/index-10-972712469565145320.wt
backend.02.44/data/db/index-11--2871015368597784693.wt
backend.02.44/data/db/index-11-8020213374910424618.wt
backend.02.44/data/db/index-13-8020213374910424618.wt
backend.02.44/data/db/index-14-972712469565145320.wt
backend.02.44/data/db/index-15-972712469565145320.wt
backend.02.44/data/db/index-15-8020213374910424618.wt
backend.02.44/data/db/index-16--3427529013982088978.wt
backend.02.44/data/db/index-19-972712469565145320.wt
backend.02.44/data/db/index-20-972712469565145320.wt
backend.02.44/data/db/index-24-972712469565145320.wt
backend.02.44/data/db/index-25-252033026885601114.wt
backend.02.44/data/db/index-31-972712469565145320.wt
backend.02.44/data/db/index-32-972712469565145320.wt
backend.02.44/data/db/index-36-252033026885601114.wt
backend.02.44/data/db/index-42-252033026885601114.wt
backend.02.44/data/db/index-43-252033026885601114.wt
backend.02.44/data/db/index-47-252033026885601114.wt
backend.02.44/data/db/mongod.lock
backend.02.44/data/db/sizeStorer.wt
backend.02.44/data/db/storage.bson
backend.02.44/data/db/WiredTiger
backend.02.44/data/db/WiredTiger.lock
backend.02.44/data/db/WiredTiger.turtle
backend.02.44/data/db/WiredTiger.wt
backend.02.44/data/db/WiredTigerHS.wt
backend.02.44/data/db/diagnostic.data/metrics.2021-06-01T12-03-09Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-02T21-33-09Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-04T08-08-09Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-05T19-13-09Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-05T20-54-52Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-07T07-24-11Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-08T18-54-11Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-09T07-56-37Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-10T21-06-23Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-12T07-06-23Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-13T18-01-23Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-15T04-26-23Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-16T13-29-23Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-17T23-14-23Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-19T01-41-59Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-20T12-47-59Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-21T22-57-59Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-23T08-42-59Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-24T19-07-59Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-26T04-57-59Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-26T17-13-53Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-27T02-34-03Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-27T02-55-49Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-27T02-59-36Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-27T03-03-05Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-27T17-48-54Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-27T19-21-12Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-29T00-44-56Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-29T04-27-12Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-29T12-10-30Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-29T12-39-19Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-29T12-43-33Z-00000
backend.02.44/data/db/diagnostic.data/metrics.interim
backend.02.44/data/db/journal/WiredTigerLog.0000000022
backend.02.44/data/db/journal/WiredTigerPreplog.0000000001
backend.02.44/data/db/journal/WiredTigerPreplog.0000000002
backend.02.44/data/db/diagnostic.data/metrics.2021-06-29T19-32-26Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-30T15-01-23Z-00000
backend.02.44/data/db/diagnostic.data/metrics.2021-06-30T16-40-25Z-00000
backend.02.44/data/db/journal/WiredTigerLog.0000000025
data/db/_mdb_catalog.wt
data/db/collection-0--4143088993247048724.wt
data/db/collection-2--4143088993247048724.wt
data/db/collection-4--4143088993247048724.wt
data/db/collection-6--4143088993247048724.wt
data/db/index-1--4143088993247048724.wt
data/db/index-3--4143088993247048724.wt
data/db/index-5--4143088993247048724.wt
data/db/index-7--4143088993247048724.wt
data/db/index-8--4143088993247048724.wt
data/db/index-9--4143088993247048724.wt
data/db/mongod.lock
data/db/sizeStorer.wt
data/db/storage.bson
data/db/WiredTiger
data/db/WiredTiger.lock
data/db/WiredTiger.turtle
data/db/WiredTiger.wt
data/db/WiredTigerHS.wt
data/db/diagnostic.data/metrics.2021-06-29T23-50-23Z-00000
data/db/journal/WiredTigerLog.0000000001
data/db/journal/WiredTigerPreplog.0000000001
data/db/journal/WiredTigerPreplog.0000000002
