<div [class.isPrinting]="printService.isPrinting">
<div class="sticky-top print-oculta">
  <app-top-menu></app-top-menu>
  <app-articulo-card-select-header
    [filterButtons]='filterButtons'
    [searchItem]='searchItem'
    [order]='articuloOrder'
    [listaOrden]='listaOrden'
    (onButtonMsg)='buttonMsg($event)'
    (onCardSelectHeaderEvent)='filterEvent($event)'
    >
  </app-articulo-card-select-header>
  <button (click)="imprimir()"><i class="fas fa-print"></i></button>
</div>
<div class="container">
  <table>
    <tr *ngFor="let articulo of articuloList; index as i;">
      <td  class="card">
        <app-articulo-card-view-guest
          [articulo]='articulo'
          [idx]=i
          [publico]='publico'
          (onSelectArticulo)='SelectEvent($event)'
        ></app-articulo-card-view-guest>
      </td>
    </tr>
  </table>
</div>
</div>
