<div [class.isPrinting]="printService.isPrinting">
  <div class="sticky-top print-oculta">
    <app-top-menu></app-top-menu>
    <form class="form-inline bg-dark p-1">
      <app-articulo-card-select-filter
        [wait]='wait'
        [filterButtons]='filterButtons'
        (onSearchArticulos)='filterEvent($event)'
        (onButtonMsg)='buttonMsg($event)'
      >
      </app-articulo-card-select-filter>
      <app-articulo-card-select-order
        [order]="articuloOrder"
        [listaOrden]='listaOrden'
        (onOrderChangeEvent)='filterEvent($event)'
      ></app-articulo-card-select-order>
      <button (click)="imprimir()"><i class="fas fa-print"></i></button>
    </form>
  </div>
  <div class="card-container">
          <app-articulo-card-view-guest-full
          *ngFor="let articulo of articuloList; index as i"
          class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-6 no-gutters"
          [articulo]='articulo'
          [idx]=i
            [publico]='publico'
            (onSelectArticulo)='SelectEvent($event)'
          ></app-articulo-card-view-guest-full>
    <button class="btn btn-block btn-secondary mt-2 mb-2" [hidden]="((hoja-1)*pageSize) >= collectionSize" (click)="articuloList = more(tmpList, articuloList)">Mostrar más</button>
  </div>
</div>
