<div [class.isPrinting]="printService.isPrinting">
  <div class="sticky-top print-oculta">
    <app-top-menu></app-top-menu>
    <form class="form-inline bg-dark p-1">
      <app-articulo-card-select-filter
        [searchItem]='searchItem'
        [filterButtons]='filterButtons'
        (onSearchArticulos)='filterEvent($event)'
        (onButtonMsg)='buttonMsg($event)'
      >
      </app-articulo-card-select-filter>
      <app-articulo-card-select-order
        [order]="articuloOrder"
        [listaOrden]='listaOrden'
        (onOrderChangeEvent)='filterEvent($event)'
      ></app-articulo-card-select-order>
      <button (click)="imprimir()"><i class="fas fa-print"></i></button>
    </form>
  </div>
  <div class="container">
    <table>
      <tr *ngFor="let articulo of articuloList; index as i;">
        <td  class="card">
          <app-articulo-card-view-guest
            [articulo]='articulo'
            [idx]=i
            [publico]='publico'
            (onSelectArticulo)='SelectEvent($event)'
          ></app-articulo-card-view-guest>
        </td>
      </tr>
    </table>
  </div>
</div>
