/*
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}
*/
.doc{
  display: flex;
  flex-flow: column wrap;
/*
  width: 100vw;
  height: 100vh;
*/
  justify-content: center;
  align-items: center;
  background: #333944;
}
.box{
  width: 100%;
  background: #CCC;
/*
  max-height: 480px;
  height: 400px;
  overflow: hidden;
*/
}
.btn{
  border: none;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  border-radius: 3px;

  font-family: Verdana, sans-serif;
  color: white;
  background: #1ac6d0;
  cursor: pointer;
}
.box img{
  width: auto;
  max-height: 300px;
  height: 100%;
}
.QMbmRe {
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 86%;
  width: 100%;
}
@supports(object-fit: cover){
    .box img{
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

