<app-top-menu class="sticky-top"></app-top-menu>
  <div class="content" role="main">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/catchow/catchowbanner.png" alt="">
        </div>
        <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/purina/Purina® Familia de Productos.jpg" alt="">
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/cossia1.jpg" alt="">
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/dogpro1.png" alt="">
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://estampainsignia.com.ar/img/home/bg-slider-3.jpg" alt="">
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/images/DogChow/Purina® Dogchow® Conoce nuestros productos (1).png" alt="">
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
    </ngb-carousel>

  <!--div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3" class=""></li-->
      <!--li data-target="#carouselExampleCaptions" data-slide-to="4" class=""></li-->
      <!--li data-target="#carouselExampleCaptions" data-slide-to="5" class=""></li-->
      <!--li data-target="#carouselExampleCaptions" data-slide-to="6" class=""></li-->
    <!--/ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 text-center">
          <div class="block">
            <div class="doc">
              <div class="box">
                <img src="/assets/images/cossia1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>asdfadsfadfs</h5>
          <p>sdfgsdfgsfdgsdfg</p>
        </div>
      </div>

      <div class="carousel-item">
        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 text-center">
          <div class="block">
            <div class="doc">
              <div class="box">
                <img src="/assets/images/purina/Purina® Familia de Productos.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>asdfadsfadfs</h5>
          <p>sdfgsdfgsfdgsdfg</p>
        </div>
      </div-->
      <!--div class="carousel-item">
        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 text-center">
          <div class="block">
            <div class="doc">
              <div class="box">
                <img src="/assets/images/catchow/catchowbanner.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>asdfadsfadfs</h5>
          <p>sdfgsdfgsfdgsdfg</p>
        </div>
      </div-->
      <!--div class="carousel-item">
        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 text-center">
          <div class="block">
            <div class="doc">
              <div class="box">
                <img src="/assets/images/dogpro1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>asdfadsfadfs</h5>
          <p>sdfgsdfgsfdgsdfg</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 text-center">
          <div class="block">
            <div class="doc">
              <div class="box">
                <img src="https://estampainsignia.com.ar/img/home/bg-slider-3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>asdfadsfadfs</h5>
          <p>sdfgsdfgsfdgsdfg</p>
        </div>
      </div-->
      <!--div class="carousel-item">
        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 text-center">
          <div class="block">
            <div class="doc">
              <div class="box">
                <img
                  src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_1680/public/Banner-Pro-Plan.png"
                  alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>asdfadsfadfs</h5>
          <p>sdfgsdfgsfdgsdfg</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 text-center">
          <div class="block">
            <div class="doc">
              <div class="box">
                <img
                  src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/Purina%C2%AE%20Dogchow%C2%AE%20Conoce%20nuestros%20productos%20%281%29.png"
                  alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>asdfadsfadfs</h5>
          <p>sdfgsdfgsfdgsdfg</p>
        </div>
      </div-->
    <!--/div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div-->
  <!--div style="width: 600px;height: 400px;"-->
    <!--div class="QMbmRe"
      style="background-image:url('https://maps.googleapis.com/maps/api/staticmap?scale=1&amp;size=1600x900&amp;style=feature:poi.business|visibility:off&amp;style=feature:water|visibility:simplified&amp;style=feature:road|element:labels.icon|visibility:off&amp;style=feature:road.highway|element:labels|saturation:-90|lightness:25&amp;format=jpg&amp;language=es&amp;region=AR&amp;markers=color:0xddaa44|-27.4481322,-58.9894865&amp;zoom=16&amp;client=google-presto&amp;signature=vFeF6f13LlNS2-0681IU7LoHsS4')"
      title="Firulais - Tienda para Mascotas">
    </div-->
  <!--/div-->
  </div>
