<table>
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td width="100%">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table>

<div class="container header">
    <img class="d-print-inline" alt="Firulais Logo" src="/assets/images/perrito_color.png" />
    <div class="d-print-inline"><h1 class="d-print-inline display-4">Firulais</h1><h4 class="d-print-inline"> Tienda para Mascotas +54 9 (362) 468-3656 <i class="fab fa-whatsapp bg-success"></i></h4></div>
</div>
<div class="footer">Los precios están sujetos a cambios sin previo aviso</div>
