body {
  counter-reset: page;
}
.header, .header-space { height: 120px; }
.footer, .footer-space { height: 45px; }
.header { position: fixed; top: 0; width: 100%; border-bottom: 1px solid black}
.footer { position: fixed; bottom: 0; width: 100%; }

.page-number::after {
  counter-increment: page;
  content: "Page: " counter(page);
}
.pagecount::before {
  content: counters(pages);
}

@media screen {
  :host {
    display: none;
  }
}
