<table>
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td width="100%">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table>
<div class="container-fluid header">
  <img class="float-left" alt="Firulais Logo" src="/assets/images/perrito_color.png" width="100px"/>
  <div class="float-left text-center">
    <h1 class="d-print-inline display-4">firulais.net.ar</h1>
    <h4 class=""> Tienda para Mascotas</h4>
  </div>
  <!--div class="float-left">
    <div class="page-number"></div> of <span class="pagecount"></span>
  </div-->
  <div class="float-right">
    <div><h5><i class="fab fa-whatsapp color-success"></i>+54 9 (362) 468-3656</h5></div>
    <div>
      <h5>
        Avda 25 de Mayo 372
      </h5>
    </div>
    <div>
      <h5>
        firulais.net.ar@gmail.com
      </h5>
    </div>
  </div>
</div>
<div class="footer">Los precios están sujetos a cambios sin previo aviso </div>
