<article class="px-3">
  <div class="d-flex flex-row justify-content-between">
    <h4 class="nombre">
      <span *ngIf="articulo.d_fabricante">{{articulo.fabricante}} </span>
      <span *ngIf="articulo.d_marca">{{articulo.marca}} </span>
      <span *ngIf="articulo.d_especie">{{articulo.especie}} </span>
      <span *ngIf="articulo.d_edad">{{articulo.edad}} </span>
      <span>{{articulo.name}} </span>
      <span *ngIf="articulo.d_raza">{{articulo.raza}} </span>
      <span *ngIf="articulo.d_rubro">{{articulo.rubro}} </span>
      <span *ngIf="articulo.d_linea">{{articulo.linea}} </span>
    </h4>
  </div>
  <!--div>
    <span>{{articulo.fullName}}</span>
  </div-->
  <div class="p-0 w-100 bd-highlight">
    <div class="detalles">
      <ul>
        <li *ngFor="let detail of articulo.formula;" [hidden]='!detail.show && !detail.showname'>
          <span [hidden]='!detail.showname'>{{detail.name}}:</span><span [hidden]='!detail.showvalue'> {{detail.value}}</span>
        </li>
        <li *ngFor="let detail of articulo.beneficios;" [hidden]='!detail.showvalue && !detail.showname'>
          <span [hidden]='!detail.showname'>{{detail.name}}</span><span [hidden]='!(detail.showvalue && detail.showname)'>:</span> <span [hidden]='!detail.showvalue'> {{detail.value}}</span>
        </li>
      </ul>
    </div>
  </div>
  <table class="table-bordered w-100">
    <thead>
      <tr>
        <td *ngIf="!articulo.image"></td>
        <td colspan="2"></td>
        <!--td width='80px' align="right"><strong>Compra</strong></td-->
        <!--td width='80px' align="right"><strong>Reposición</strong></td>
        <td width='80px' align="right"><strong>Pre/Un</strong></td>
        <td width='80px' align="right"><strong>% Mgen</strong></td-->
        <td colspan="2" align="center" bgcolor="#cecece"><strong>Minorista</strong></td>
        <td colspan="2" align="center" bgcolor="#eeeeee"><strong>Mayorista</strong></td>
      </tr>
      <tr>
        <td *ngIf="!articulo.image"><strong>Picture</strong></td>
        <td  align="center"><strong>Código</strong></td>
        <td  align="center"><strong>Presentación</strong></td>
        <!--td width='35px' align="right"><strong>Stk</strong></td-->
        <!--td width='80px' align="right"><strong>Compra</strong></td-->
        <!--td width='80px' align="right"><strong>Reposición</strong></td>
        <td width='80px' align="right"><strong>Pre/Un</strong></td>
        <td width='80px' align="right"><strong>% Mgen</strong></td-->
        <td width='80px' align="right" bgcolor="#cecece" style="padding: 5px;"><strong>Lista</strong></td>
        <td width='80px' align="right" bgcolor="#cecece" style="padding: 5px;"><strong>Efectivo</strong></td>
        <td width='80px' align="right" bgcolor="#eeeeee" style="padding: 5px;"><strong>3/5</strong></td>
        <td width='80px' align="right" bgcolor="#eeeeee" style="padding: 5px;"><strong>6 o +</strong></td>
        <!--td width='80px' align="right" bgcolor="#eeeeee" style="padding: 5px;"><strong>10/+</strong></td-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos; index as i;" [hidden]="producto.pesable">
        <td *ngIf="!articulo.image" align='center'><img src="{{producto.image}}" alt="" style="height: 60px; width: auto;"> </td>
        <td width='35px' align="right">{{producto.codigo}}</td>
        <td >{{producto.name}} {{producto.strContiene}}
          {{producto.unidad}} {{producto.sname}}
          {{producto.sStrContiene}} {{producto.sunidad}}</td>
        <!--td width='35px' align="right" style="padding: 5px;">{{ producto.showStock || producto.stock }}</td-->
        <!--td width='80px' align="right">{{producto.compra || producto.showCompra }}</td-->
        <!--td width='80px' align="right">{{producto.reposicion}}</td>
        <td width='80px' align="right">{{producto.precioxunidad}}/{{producto.unidad}}</td>
        <td width='80px' align="right">{{producto.margen}}%</td-->
        <td width='80px' align="right" style="padding: 5px;">{{producto.lista}}</td>
        <td width='80px' align="right" style="padding: 5px;">{{producto.showPrecio}}</td>
        <td width='80px' align="right" style="padding: 5px;">{{producto.reventa}}</td>
        <td width='80px' align="right" style="padding: 5px;">{{producto.reventa1}}</td>
        <!--td width='80px' align="right" style="padding: 5px;">{{producto.reventa2}}</td-->
      </tr>
    </tbody>
  </table>
</article>
<nav [hidden]="!articulo.image">
  <i class="pesable fa fa-balance-scale fa-fw fa-2x" aria-hidden="true" [hidden]="!articulo.pesable"></i>
  <div class="imgbox">
    <img class="caja-img" src="{{articulo.image}}" alt="">
  </div>
  <a class="cajaUrl btn btn-link" href="{{articulo.url}}" target='_blanck'
    [hidden]="!articulo.url || articulo.url == ''">
    <i class="fas fa-info-circle" (click)="opLink(articulo.url)"></i>
  </a>
</nav>
