<div class="sticky-top">
  <app-top-menu></app-top-menu>
</div>
<header>
  <select name="proveedor"  [(ngModel)]="proveedor">
    <option value=""></option>
    <option *ngFor="let val of provSettings; index as i"  value="{{i}}" >{{val.nombre}}</option>
  </select>
  <ngb-pagination
    [collectionSize]="collectionSize"
    [pageSize] = 'pageSize'
    [(page)]="page"
    [boundaryLinks]="true"
  >
    <ng-template ngbPaginationPages let-page let-pages="pages" class="mb-0">
      <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="form-group d-flex flex-nowrap px-2">
            <label
                id="paginationInputLabel"
                for="paginationInput"
                class="col-form-label mr-2 ml-1 bg-white"
            >Pág.</label>
            <input #i
                type="text"
                inputmode="numeric"
                pattern="[0-9]*"
                class="form-control custom-pages-input"
                id="paginationInput"
                [value]="page"
                (keyup.enter)="selectPage(i.value)"
                (blur)="selectPage(i.value)"
                (input)="formatInput($any($event).target)"
                aria-labelledby="paginationInputLabel paginationDescription"
                style="width: 3.5rem"
            />
            <span id="paginationDescription" class="col-form-label text-nowrap px-2 bg-white">
                de {{pages.length}}</span>
          </div>
      </li>
    </ng-template>
  </ngb-pagination>
  <app-producto-autocomplete
  ></app-producto-autocomplete>
</header>
<div id='main'>
  <article>
    <!--
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <ngb-panel id="custom-panel-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">First panel - {{ opened ? 'opened' : 'collapsed' }}</h5>
            <button ngbPanelToggle class="btn btn-link p-0">Toggle first</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">Second panel</h5>
            <div>
              <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Toggle second</button>
              <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="disabled = !disabled">
                {{ disabled ? 'En' : 'Dis' }}able third
              </button>
              <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="a.collapseAll()">Collapse all</button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
      <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third panel</button>
            <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
      <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third panel</button>
            <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
        -->
          <div class="card-container">
            <div class="card  pt-2 pl-2 pr-2 mb-2 mycolor1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 no-gutters"
              *ngFor="let item of newData; index as i">
              <!--*ngFor="let item of newData | slice: (page-1) * pageSize : page * pageSize; index as i"-->
              <div class="form-row align-items-center">
                <div class="col">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Código</div>
                    </div>
                    <input type="text" class="form-control" id="codigo_{{i}}" placeholder="Código" [(ngModel)]="item.codigo">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">EAN</div>
                    </div>
                    <input type="text" class="form-control" id="ean_{{i}}" placeholder="EAN" [(ngModel)]="item.ean">
                  </div>
                </div>
              </div>
              <div class="form-row align-items-center">
                <div class="col">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Nombre</div>
                    </div>
                    <input type="text" class="form-control" id="nombre_{{i}}" placeholder="Nombre" [(ngModel)]="item.nombre">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Cont</div>
                    </div>
                    <input type="text" class="form-control" id="peso_{{i}}" placeholder="Contenido" [(ngModel)]="item.peso">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Unids</div>
                    </div>
                    <input type="text" class="form-control" id="unidades_{{i}}" placeholder="Unidades" [(ngModel)]="item.unidades">
                  </div>
                </div>
              </div>
              <div class="form-row align-items-center">
                <div class="col-sm-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Precio</div>
                    </div>
                    <input type="text" class="form-control" id="precio_{{i}}" placeholder="Precio" [(ngModel)]="item.precio">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Bulto</div>
                    </div>
                    <input type="text" class="form-control" id="bulto_{{i}}" placeholder="Bulto" [(ngModel)]="item.bulto">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Sugeriodo</div>
                    </div>
                    <input type="text" class="form-control" id="sugerido_{{i}}" placeholder="Sugerido" [(ngModel)]="item.sugerido">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Margen</div>
                    </div>
                    <input type="text" class="form-control" id="margen_{{i}}" placeholder="Margen" [(ngModel)]="item.margen_s">
                  </div>
                </div>
              </div>
            <!--div class="form-row align-items-center justify-content-end">
                <div class="col-sm-3 col-md-2 col-lg-2 col-xl-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Bulto</div>
                    </div>
                    <input type="text" class="form-control text-right" id="bulto_{{i}}" placeholder="Bulto"
                      [(ngModel)]="item.vinput.unidades">
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Contiene</div>
                    </div>
                    <input type="text" class="form-control text-right" id="contiene_{{i}}" placeholder="Contiene"
                      [(ngModel)]="item.vinput.peso">
                  </div>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2 col-xl-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Unid</div>
                    </div>
                    <input type="text" class="form-control" id="unidad_{{i}}" placeholder="Unidad" [(ngModel)]="item.unidad">
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-4">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Reposición</div>
                    </div>
                    <input type="text" class="form-control text-right" id="reposicion_{{i}}" placeholder="Reposición"
                      [(ngModel)]="item.vinput.reposicion">
                  </div>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-5">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Precio  </div>
                    </div>
                    <input type="text" class="form-control text-right" id="sugerido_{{i}}" placeholder="Sugerido"
                      [(ngModel)]="item.vbulto.efectivo">
                  </div>
                </div>
              </div-->
              <table>
                <tr *ngFor="let prod of item.productos">
                  <td>
                    <span *ngIf="item.fabricante">{{item.fabricante}} </span>
                    <span *ngIf="item.marca">{{item.marca}} </span>
                    <span *ngIf="item.name">{{item.name}} </span>
                    <span *ngIf="item.especie">{{item.especie}} </span>
                    <span *ngIf="item.edad">{{item.edad}} </span>
                    <span *ngIf="item.raza">Mord.{{item.raza}} </span>
                    <span > {{prod.name}} </span>
                    <span > {{prod.contiene}} </span>
                    <span > {{prod.unidad}} </span>
                    <span *ngIf="item.rubro"> {{item.rubro}} </span>
                    <span *ngIf="item.linea"> {{item.linea}} </span>
                  </td>
                  <td align="right"> {{prod.tarjeta}} </td>
                  <td align="right"> {{prod.debito}} </td>
                  <td align="right" *ngIf="prod.oferta" class="oferta-color"> {{prod.efectivo}} </td>
                  <td align="right" *ngIf="!prod.oferta"> {{prod.efectivo}} </td>
                  <td align="right"> {{prod.descuento1}} </td>
                  <td align="right"> {{prod.descuento2}} </td>
                </tr>
              </table>
            </div>
          </div>
        <!--
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  -->
  </article>
  <!--nav>
    nav menu
  </nav-->
  <!--aside class="p-0" [hidden]="true">
    <div class="productos-header sticky-top">
      <app-articulo-card-select-filter
        [wait]='wait'
        [filterButtons]='filterButtons'
        (onSearchArticulos)='Prod_filterEvent($event)'
        (onButtonMsg)='buttonMsg($event)'
      ></app-articulo-card-select-filter>
    </div>
    <div class="card-container d-print-flex">
      <app-prod-card-view-list
        class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 no-gutters"
        *ngFor="let articulo of articuloList; index as i;"
        [articulo]='articulo'
        [idx]='i'
        cmpTipo='venta'
        [showStock]='showStock'
        (click)="selected(articulo)"
      ></app-prod-card-view-list>
    </div>
  </aside-->
</div>
<footer>
  <!--button (click)="findSimilares()">Buscar</button>
  <button (click)="readFileButter()">Cargar Butter</button>
  <button (click)="readTxt('rapTXT')">Cargar RAP</button>
  <button (click)="readTxt('rapRaza')">Cargar Raza</button>
  <button (click)="readTxt('rapOptimum')">Cargar Optimum</button>
  <button (click)="readXlsxFile('cancatXLSX')">Cargar CanCatXLSX</button>
  <button (click)="readXlsxFile('sciarrielloXLSX')">Cargar sciarrielloXLSX</button>
  <button (click)="readXlsxFile('dumasXLSX')">Cargar DumasXLSX</button-->
  <button (click)="readLista()">Leer Lista</button>
  <!--button (click)="readFileSciarriello()">Cargar Sciarriello</button-->
  <!--button (click)="readFileCSV()">Cargar CSV Archivo</button-->
  <!--button (click)="readXlsxFile()">Cargar XLSX</button-->
  <button (click)="importProductos()">Check Lista</button>
  <!--button (click)="importarFile()">Importar</button-->

</footer>

