<div class="sticky-top">
  <app-top-menu></app-top-menu>
</div>
<header>
  <app-personas-autocomplete
    [dbList]='dbPersonas'
    [model]='proveedor'
  ></app-personas-autocomplete>
</header>
<div id='main' (window:resize)="onResize($event)">
  <article>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th *ngFor="let fld of fields; index as i" scope="col">
            <select name="{{fld}}"  [(ngModel)]="typeValues[i]">
              <option></option>
              <option *ngFor="let val of fieldsType"  value="{{val}}" >{{val}}</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reg of data; index as i;" (click)="selectedlista(i)">
          <th scope="row">{{i}}</th>
          <td *ngFor="let fld of reg">{{fld}}</td>
        </tr>
      </tbody>
    </table>
  </article>
  <nav>
    <div *ngFor="let fldn of fields; index as i;">
      <label>{{fldn}}</label> {{typeValues[i]}}
    </div>
  </nav>
  <aside class="p-0">
    <div class="productos-header sticky-top">
      <app-articulo-card-select-filter
      [searchItem]='searchItem'
      [filterButtons]='filterButtons'
      (onSearchArticulos)='Prod_filterEvent($event)'
      (onButtonMsg)='buttonMsg($event)'
    ></app-articulo-card-select-filter>
    </div>
    <div class="card-container d-print-flex">
      <app-prod-card-view-list
        class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 no-gutters"
        *ngFor="let articulo of articuloList; index as i;"
        [articulo]='articulo'
        [idx]='i'
        cmpTipo='venta'
        [showStock]='showStock'
        (click)="selected(articulo)"
      ></app-prod-card-view-list>
    </div>
  </aside>
</div>
<footer>
  <button (click)="findSimilares()">Buscar</button>
  <button (click)="readFile()">Cargar Archivo</button>
  <button (click)="readXlsxFile()">Cargar XLSX</button>

</footer>

