<div class="card mb-3" >
  <div class="card-header">
    <h3>{{articulo.fullName}}</h3>
  </div>
  <div class="row no-gutters">
    <div class="col-md-4" [hidden]="!articulo.image">
      <img src="{{articulo.image}}" class="card-img" alt="image of {{articulo.art_name}}">
    </div>
    <div [class.col-md-8]="articulo.image">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
          <li [ngbNavItem]="1" [hidden]="!articulo.productos || articulo.productos.length===0 ">
            <a ngbNavLink><b>Presentaciones</b></a>
            <ng-template ngbNavContent>
              <table class="table-bordered w-100">
                <thead>
                  <tr>
                    <td *ngIf="!articulo.image"></td>
                    <td></td>
                    <!--td width='80px' align="right"><strong>Compra</strong></td-->
                    <!--td width='80px' align="right"><strong>Reposición</strong></td>
                    <td width='80px' align="right"><strong>Pre/Un</strong></td>
                    <td width='80px' align="right"><strong>% Mgen</strong></td-->
                    <td colspan="2" align="center" bgcolor="#cecece"><strong>Minorista</strong></td>
                    <td colspan="2" align="center" bgcolor="#eeeeee"><strong>Mayorista</strong></td>
                  </tr>
                  <tr>
                    <td *ngIf="!articulo.image"><strong>Picture</strong></td>
                    <!--td  align="center"><strong>Código</strong></td-->
                    <td  align="center"><strong>Presentación</strong></td>
                    <!--td width='35px' align="right"><strong>Stk</strong></td-->
                    <!--td width='80px' align="right"><strong>Compra</strong></td-->
                    <!--td width='80px' align="right"><strong>Reposición</strong></td>
                    <td width='80px' align="right"><strong>Pre/Un</strong></td>
                    <td width='80px' align="right"><strong>% Mgen</strong></td-->
                    <td width='80px' align="right" bgcolor="#cecece" style="padding: 5px;"><strong>Lista</strong></td>
                    <td width='80px' align="right" bgcolor="#cecece" style="padding: 5px;"><strong>Efectivo</strong></td>
                    <td width='80px' align="right" bgcolor="#eeeeee" style="padding: 5px;"><strong>3 a 5</strong></td>
                    <td width='80px' align="right" bgcolor="#eeeeee" style="padding: 5px;"><strong>6 o +</strong></td>
                    <!--td width='80px' align="right" bgcolor="#eeeeee" style="padding: 5px;"><strong>10/+</strong></td-->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of articulo.productos; index as i;" [class.isStock]="!producto.stock && !producto.sub.stock" [hidden]="!producto.pVenta">
                    <td *ngIf="!articulo.image" align='center'><img src="{{producto.image}}" alt="" style="height: 60px; width: auto;"> </td>
                    <!--td width='35px' align="right">{{producto.codigo}}</td-->
                    <td >{{producto.name}} {{producto.strContiene}}
                      {{producto.unidad}} {{producto.sname}}
                      {{producto.sStrContiene}} {{producto.sunidad}}</td>
                    <!--td width='35px' align="right" style="padding: 5px;">{{ producto.showStock || producto.stock }}</td-->
                    <!--td width='80px' align="right">{{producto.compra || producto.showCompra }}</td-->
                    <!--td width='80px' align="right">{{producto.reposicion}}</td>
                    <td width='80px' align="right">{{producto.precioxunidad}}/{{producto.unidad}}</td>
                    <td width='80px' align="right">{{producto.margen}}%</td-->
                    <td width='80px' align="right" style="padding: 5px;">{{producto.lista}}</td>
                    <td width='80px' align="right" style="padding: 5px;">{{producto.showPrecio}}</td>
                    <td width='80px' align="right" style="padding: 5px;">{{producto.reventa}}</td>
                    <td width='80px' align="right" style="padding: 5px;">{{producto.reventa1}}</td>
                    <!--td width='80px' align="right" style="padding: 5px;">{{producto.reventa2}}</td-->
                  </tr>
                </tbody>
              </table>

              <!--div class="row" *ngFor="let presentacion of articulo.productos">

                <div [class.isStock]="!presentacion.stock && !presentacion.sub.stock" [hidden]="!presentacion.pVenta || !presentacion.showPrecio" class="col-8">
                  <h6 class="card-title">{{presentacion.name}} {{presentacion.contiene}} {{presentacion.unidad}} {{presentacion.sname}}</h6>
                </div>
                <div [class.isStock]="!presentacion.stock && !presentacion.sub.stock" [hidden]="!presentacion.pVenta || !presentacion.showPrecio" class="col-4">
                  <h6 class="d-block" style="text-align: right;">$ {{presentacion.showPrecio}}</h6>
                </div>
              </div-->
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [hidden]="!articulo.detalles || articulo.detalles.length===0">
            <a ngbNavLink><b>Detalles</b></a>
            <ng-template ngbNavContent>
              <div [innerHTML]="articulo.detalles"></div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3" [hidden]="!articulo.beneficios || articulo.beneficios.length===0">
            <a ngbNavLink><b>Beneficios</b></a>
            <ng-template ngbNavContent>
              <div class="row col-8 offset-2">
                <table>
                  <tbody>
                    <tr *ngFor="let item of articulo.beneficios; index as i;" class="">
                      <td>{{item.name}}</td>
                      <td>{{item.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4" [hidden]="!articulo.formula || articulo.formula.length===0">
            <a ngbNavLink><b>Fórmula</b></a>
            <ng-template ngbNavContent>
              <div class="row col-10 offset-1">
                <table width="100%">
                  <tbody>
                    <tr *ngFor="let item of articulo.formula; index as i;" class="">
                      <td>{{item.name}}</td>
                      <td>{{item.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <p class="card-text"><small class="text-muted"> Los precios tienen el descuento por pago de contado en efectivo y pueden variar sin previo aviso. </small></p>
      </div>
    </div>
  </div>
</div>
