<article>
  <h4 class="nombre">{{articulo.fullName}}</h4>
  <div>
    {{articulo.fabricante}} {{articulo.marca}} {{articulo.name}} {{articulo.especie}} {{articulo.edad}} {{articulo.raza}} {{articulo.rubro}} {{articulo.linea}}
  </div>
  <table>
    <tr *ngFor="let producto of articulo.productos; index as i;" >
      <td width='250px'>{{producto.name}} {{producto.strContiene}} {{producto.unidad}} {{producto.sname}} {{producto.sStrContiene}} {{producto.sunidad}}</td>
      <td width='35px' align="right">{{producto.stock}}</td>
      <td width='70px' align="right">{{producto.compra}}</td>
      <td width='70px' align="right">{{producto.reposicion}}</td>
      <td width='70px' align="right">{{producto.margen}}%</td>
      <td width='70px' align="right">{{producto.lista}}</td>
      <td width='70px' align="right">{{producto.precio}}</td>
      <td width='70px' align="right">{{producto.reventa}}</td>
      <td width='70px' align="right">{{producto.reventa1}}</td>
    </tr>
  </table>
</article>
<nav>
  <i class="pesable fa fa-balance-scale fa-fw fa-2x" aria-hidden="true" [hidden]="!articulo.pesable"></i>
  <div class="imgbox">
    <img class="caja-img" src="{{articulo.image}}" alt="">
  </div>
  <a class="cajaUrl btn btn-link" href="{{articulo.url}}" target='_blanck'
    [hidden]="!articulo.url || articulo.url == ''">
    <i class="fas fa-info-circle" (click)="opLink(articulo.url)"></i>
  </a>
</nav>
