<article>
  <!--div class="control">
    <div class="d-flex flex-row bd-highlight ">
      <button class="btn btn-outline-primary" (click)="editdata()"><i class="fas fa-pen-square"></i></button>
      <button class="btn btn-outline-danger" (click)="editdata()"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div-->
  <div class="d-flex flex-row justify-content-between">
    <h4 class="nombre">
      <span *ngIf="articulo.d_fabricante">{{articulo.fabricante}} </span>
      <span *ngIf="articulo.d_marca">{{articulo.marca}} </span>
      <span *ngIf="articulo.d_especie">{{articulo.especie}} </span>
      <span *ngIf="articulo.d_edad">{{articulo.edad}} </span>
      <span>{{articulo.name}} </span>
      <span *ngIf="articulo.d_raza">{{articulo.raza}} </span>
      <span *ngIf="articulo.d_rubro">{{articulo.rubro}} </span>
      <span *ngIf="articulo.d_linea">{{articulo.linea}} </span>
        <!--
      {{articulo.fullName}}
      -->
    </h4>
    <div class="d-flex flex-row">
      <div class="block" style="width: max-content;">
        <button class="btn btn-outline-primary" (click)="editdata()"><i class="fas fa-edit"></i></button>
        <button class="btn btn-outline-danger" (click)="editdata()"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
  <div>
    <!--span *ngIf="articulo.d_fabricante">{{articulo.fabricante}} </span>
    <span *ngIf="articulo.d_marca">{{articulo.marca}} </span>
    <span *ngIf="articulo.d_especie">{{articulo.especie}} </span>
    <span *ngIf="articulo.d_edad">{{articulo.edad}} </span>
    <span>{{articulo.name}} </span>
    <span *ngIf="articulo.d_raza">{{articulo.raza}} </span>
    <span *ngIf="articulo.d_rubro">{{articulo.rubro}} </span>
    <span *ngIf="articulo.d_linea">{{articulo.linea}} </span-->
    <span>{{articulo.fullName}}</span>
<!--    {{articulo.marca}} {{articulo.name}} {{articulo.especie}} {{articulo.edad}} {{articulo.raza}} {{articulo.rubro}} {{articulo.linea}} -->
  </div>
  <table>
    <thead>
        <th width='250px'>Presentación</th>
        <th width='35px' align="right">Stock</th>
        <th width='70px' align="right">Compra</th>
        <th width='70px' align="right">Reposición</th>
        <th width='70px' align="right">Pre/Un</th>
        <th width='70px' align="right">% Mgen</th>
        <th width='70px' align="right">Lista</th>
        <th width='70px' align="right">Precio</th>
        <th width='70px' align="right">Reventa</th>
        <th width='70px' align="right">Reventa1</th>
    </thead>
    <tbody>
      <tr *ngFor="let producto of articulo.productos; index as i;" >
        <td width='250px'>{{producto.name}} {{producto.strContiene}} {{producto.unidad}} {{producto.sname}} {{producto.sStrContiene}} {{producto.sunidad}}</td>
        <td width='35px' align="right">{{producto.stock}}</td>
        <td width='70px' align="right">{{producto.compra}}</td>
        <td width='70px' align="right">{{producto.reposicion}}</td>
        <td width='70px' align="right">{{producto.precioxunidad}}/{{producto.unidad}}</td>
        <td width='70px' align="right">{{producto.margen}}%</td>
        <td width='70px' align="right">{{producto.lista}}</td>
        <td width='70px' align="right">{{producto.precio}}</td>
        <td width='70px' align="right">{{producto.reventa}}</td>
        <td width='70px' align="right">{{producto.reventa1}}</td>
      </tr>
    </tbody>
  </table>
</article>
<nav>
  <i class="pesable fa fa-balance-scale fa-fw fa-2x" aria-hidden="true" [hidden]="!articulo.pesable"></i>
  <div class="imgbox">
    <img class="caja-img" src="{{articulo.image}}" alt="">
  </div>
  <a class="cajaUrl btn btn-link" href="{{articulo.url}}" target='_blanck'
    [hidden]="!articulo.url || articulo.url == ''">
    <i class="fas fa-info-circle" (click)="opLink(articulo.url)"></i>
  </a>
</nav>
