<div id='topmenu' class="sticky-top">
  <app-top-menu></app-top-menu>
  <div class="row" [hidden]='stage !== 0'>
    <div class="col-6">
      <select name="proveedor"  [(ngModel)]="proveedor">
        <option value=""></option>
        <option *ngFor="let val of provSettings; index as i"  value="{{val._id}}" >{{val.nombre}}</option>
      </select>
      <div>
        <input type="text" name="searchProveedoProducto" (input)="provProdSearch()" [(ngModel)]="itemSearchProdProv">
      </div>

    </div>
    <div class="col-6">
      <div class="form-control">
        <input type="text" name="itemSearchProducto" [(ngModel)]="itemSearchProducto" (change)="searchProducto()">
        <button (click)="dbProductoClear()">Limpiar</button>
      </div>
    </div>
  </div>
</div>
<header [hidden]='stage === 0'>
  <app-producto-link-set
  [setToSave]="readyData"
  ></app-producto-link-set>
  <table>
    <tr *ngFor="let reg of readyData;index as i;"
      class="{{reg.class}}"
    >
      <td >{{reg.nombre}}</td>
      <td style="width: 50px; text-align: right;">{{reg.bulto}}</td>
      <td style="width: 50px; text-align: right;">{{reg.contiene}}</td>
      <td style="width: 50px; text-align: right;">{{reg.unidad}}</td>
    </tr>
  </table>
</header>
<div id='main' (window:resize)="onResize($event)">
  <article>
    <table>
      <tr class="{{reg.class}}" *ngFor="let reg of dbProvProd | proveedorProductoFilter: itemSearchProdProv;index as i;">
      <!--tr class="{{reg.class}}" *ngFor="let reg of dbProvProd;index as i;"-->
        <td>
          <input type="checkbox" value='{{i}}' (change)='toggleCheck($event,reg)'>
        </td>
        <td >{{reg.nombre}}</td>
        <td style="width: 50px; text-align: right;">{{reg.bulto}}</td>
        <td style="width: 50px; text-align: right;">{{reg.contiene}}</td>
        <td style="width: 50px; text-align: right;">{{reg.unidad}}</td>
      </tr>
    </table>
  </article>
  <!--nav>
  </nav-->
  <aside class="p-0">
    <div class="card-container">
      <app-articulo-card-view-dos
        class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 no-gutters"
        *ngFor="let articulo of dbProducto; index as i;"
        [articulo]='articulo'
        [idx]='i'
        [stage]='stage'
        [selected]='selected'
        (onSetArticulo)='setArticulo($event)'
        (onSetProducto)='setProducto($event)'
      ></app-articulo-card-view-dos>
    </div>
    <div [hidden]='stage===0'>
      <button (click)="ngOnInit()">reset</button>
      <button (click)="saveReadyData()">save data</button>
    </div>
  </aside>
</div>
<!--footer>
</footer-->
