<div class="sticky-top">
  <app-top-menu></app-top-menu>
</div>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        SignUp
      </div>
      <div class="card-body">
        <div class="d-flex position-relative rounded-pill p-2 pl-4 pr-4">
          <i class="fas fa-times-circle fa-5x flex-shrink-0 me-3"></i>
          <div class="ml-2 align-self-center text-center pl-5 pr-5">
            <h3 class="display-1 mt-0 mb-0">Disculpe</h3>
            <p class='display-4'> Por el momento la registración no está habilitada </p>
            <p class='display-4'> Puede comunicarse por WhatsApp al:</p>
            <p class='display-4'><a href="https://wa.me/+5493624683656" > <i class="fab fa-whatsapp"></i> +54 9 (362) 468-3656 </a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
