<div [class.isPrinting]="printService.isPrinting">
  <div class="sticky-top">
    <app-top-menu></app-top-menu>
    <div class="bg-dark">
      <app-browse-ctrl
        [page]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
        [tools]="tools"
        (onBrowseCtrlEvent)="browseEvent($event)"
      ></app-browse-ctrl>
    </div>
  </div>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let item of tmpList | usersFilter: searchItem | slice: (page-1) * pageSize : page * pageSize; index as i"
        (click)="edit(item)">
        <th scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
        <td>{{item.apellido}} {{item.nombre}}</td>
        <td>{{item.direccion}} {{item.localidad}} {{item.provincia}}</td>
        <td>{{item.celular}}</td>
        <td>{{item.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
