.form-group {
  margin-bottom: .2rem;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1.1rem -.7rem -1rem auto;
}
.modal-header {
  padding: 0;
/*
  max-height: 140px;
  height: 250px;
*/
}
.modal-header .card {
  border: unset;
}
.modal-body {
  padding-top: .1rem;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/*
.modal-body .card {
  border: unset;
}
*/
/*
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}
*/
/*
.card-body{
  padding: 0;
}
*/
.product-card {
  position: relative;

  border: 1px solid orange;

  height: fit-content;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
}

.product-card > article {
  position: relative;
/*
  margin: 1rem;
*/
  margin: 0px;
  padding: 0px;
  -webkit-flex: 3 1 70%;
  flex: 3 1 70%;
  -webkit-order: 2;
  order: 2;
  overflow: none;
  -webkit-border-radius: 7pt;
  -moz-border-radius: 7pt;
  -ms-border-radius: 7pt;
  -o-border-radius: 7pt;
}

article .control {
  position: absolute;
  top: .1rem;
  right: .1rem;
/*
  border: 1px solid brown;
*/
}
.product-card > nav {
  margin: 0px;
  padding: 0px;

  -webkit-flex: 1 6 30%;
  flex: 1 6 30%;
  -webkit-order: 1;
  order: 1;
  max-width: 150px;
  position: relative;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.product-card > aside {
  margin: 0px;
  padding: 0px;
  min-width: 235px;
  border-radius: 7pt;
  -webkit-flex: 1 6 40%;
          flex: 1 6 40%;
  -webkit-order: 3;
          order: 3;
  overflow: auto;
}

.imgbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .textbox {
    max-width: 370px;
    height: 200px;
  }
  .caja-img {
/*
    height: 100%;
*/
    max-height: 100%;
    max-width: 200px;
    width: 100%;
  }
  .center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  .pesable {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
  }
