.form-group {
  margin-bottom: .2rem;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1.1rem -.7rem -1rem auto;
}
.modal-header {
  padding: 0;
}
.modal-header .card {
  border: unset;
}
.modal-body {
  padding-top: .1rem;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.product-card {
  position: relative;

  border: 1px solid orange;

  height: fit-content;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
}

.product-card > article {
  position: relative;
  margin: 0px;
  padding: 0px;
  -webkit-flex: 3 1 70%;
  flex: 3 1 70%;
  -webkit-order: 2;
  order: 2;
  overflow: none;
  -webkit-border-radius: 7pt;
  -moz-border-radius: 7pt;
  -ms-border-radius: 7pt;
  -o-border-radius: 7pt;
}

article .control {
  position: absolute;
  top: .1rem;
  right: .1rem;
}
.product-card > nav {
  margin: 0px;
  padding: 0px;

  -webkit-flex: 1 6 30%;
  flex: 1 6 30%;
  -webkit-order: 1;
  order: 1;
  max-width: 150px;
  position: relative;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.product-card > aside {
  margin: 0px;
  padding: 0px;
  min-width: 235px;
  border-radius: 7pt;
  -webkit-flex: 1 6 40%;
          flex: 1 6 40%;
  -webkit-order: 3;
          order: 3;
  overflow: auto;
}

.imgbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.textbox {
  max-width: 370px;
  height: 200px;
}
.caja-img {
  max-height: 100%;
  max-width: 200px;
  width: 100%;
}
.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.pesable {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}
@media print {
  @page {
    widows: 40;
  }
  .card {
    page-break-before: avoid;
  }
}
