<form class="form-floating">
  <input type="email" class="form-control" placeholder="name@example.com" name="username" [(ngModel)]="username">
  <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="password">
  <input type="text" class="form-control" placeholder="Api URI" name="apiUri" [(ngModel)]="apiUri">
  <input type="text" class="form-control" placeholder="token" name="token" [(ngModel)]="token">
  <div class="float-end">
    <button class="btn btn-primary">Send</button>
  </div>
</form>
