<div class="card page-break">
  <div class="card-header px-1 py-0 d-flex justify-content-center">
    <span class="d-flex align-items-center">{{articulo.fullName}} </span>
  </div>
  <div class="card-body d-flex bd-highlight">
    <!--i class="pesable fa fa-balance-scale fa-fw fa-2x" aria-hidden="true" [hidden]="!articulo.pesable"></i>
    <i class="pesable fas fa-box fa-2x" aria-hidden="true" [hidden]="!(articulo.count_ins === 0)"></i-->
    <div class="imagen d-flex justify-content-center">
      <div class="imgBox align-self-center">
        <img src="{{articulo.image}}" alt="">
      </div>
      <!--div *ngIf="articulo.contiene > 0 && !articulo.pesable" class="preciounidad d-flex justify-content-center">
        ${{articulo.precioref}}/{{articulo.unidad}}
      </div-->
      <!--div *ngIf="articulo.contiene === 1" class="preciounidad d-flex justify-content-center">
        ${{articulo.precio}}/{{articulo.unidad}}
      </div-->
    </div>
    <div class="p-0 w-100 bd-highlight">
      <div class="detalles">
        <ul>
          <li *ngFor="let detail of articulo.details">
            {{detail.name}}: {{detail.value}}
          </li>
        </ul>
      </div>
    </div>
    <div class="precio">
      $ {{articulo.precioToShow}}
    </div>
  </div>
  <div class="card-footer px-0 py-0 d-flex justify-content-between">
    <div>
      <i class="fa fa-balance-scale fa-fw fa-1x" aria-hidden="true" [hidden]="!articulo.pesable"></i>
      <i class="fas fa-box fa-1x" aria-hidden="true" [hidden]="!(articulo.count_ins === 0)"></i>
      &nbsp;Stock: {{articulo.stock}}
    </div>
    <div>{{(idx%8)}}</div>
    <div *ngIf="articulo.costo">{{articulo.costo}}</div>
    <div>${{articulo.precioref}}/{{articulo.unidad}}</div>
  </div>
</div>
